body {
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 10pt;
}

h1 {
    font-size: 12pt;
}
  
h2, .TableHeadingColor b, .FrameTitleFont, .FrameHeadingFont {
    font-size: 10pt;
    font-weight: bold;
}

a b, .TableRowColor b, .NavBarCell1 b, .NavBarCell2 b {
    font-weight: normal;
}

tr, td {
    border: none;
}

.TableHeadingColor td {
    border-bottom: 1px solid #666;
}

.TableRowColor td {
    padding-bottom: 5px;
    border-bottom: 1px solid #CCC;
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}
